<!-- <!DOCTYPE html> -->
<html>
<head>
<meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Boostrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
  <title>Cogitavi - Editar Perfil</title>
  <link rel="icon" type="image/x-icon" href="../../public/lupa.png">
  <!-- Bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <!-- Google fonts-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <!-- Core theme CSS -->
  <link rel="stylesheet" href="../css/geral.css" />
  <link rel="stylesheet" href="../css/perfil.css" />
</head>
<body>



  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light navbar-light cor py-3 fixed-top">
    <div class="container">
      <a href="home.html" class="navbar-brand"><img class="logo-cogitavi" src="../../public/logo_cogitavi.png"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--<form action="search.php" method="POST">
        <input type="text" name="search" placeholder="Pesquisar..">
        <div id="teste">
          <button type="submit" name="submit-search" class="searchButton bi bi-search"></button>
        </div>
      </form>-->

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="nav navbar-nav ms-auto">

          <li class="nav-item">
            <a href="" class="nav-link">Login</a>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link">Registo</a>
          </li>

          <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
              Perfil
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item bi bi-person-fill" href="perfil.html" > Perfil </a></li>
              <li><a class="dropdown-item bi bi-heart-fill" href="objPerdidos.html"> Objetos perdidos </a></li>
              <li><a class="dropdown-item bi bi-bag-fill" href=""> Licitações </a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="home.html#perguntas" class="nav-link">Perguntas</a>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link">Terminar sessão</a>
          </li>

          
            
        </ul>
      </div>
    </div>
  </nav>

  
  <!--        SEGUNDA NAV         -->
  <nav class="roupa">
    <div class="wrapper">
      <ul class="nav-links">
        <li> <a href="#">Leilões</a>
        <div class= box>
          <div class="content">
            <div class="row">
              <img src="../imagens/homem.jpg" >
            </div>
            <div class="row">
              <header>Roupas</header>
                <ul class="mega-links">
                  <li><a href="#">Camisas</a></li>
                  <li><a href="#">Casacos</a></li>
                  <li><a href="#">Calças</a></li>
                  <li><a href="#">Calções</a></li>
                  <li><a href="#">Fatos</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Outro</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li> <a href="#">Objetos Achados</a>
        <div class= box>
          <div class="content">
            <div class="row">
              <img src="../imagens/mulher.jpg" >
            </div>
            <div class="row">
              <header>Roupas</header>
                <ul class="mega-links">
                  <li><a href="#">Casacos</a></li>
                  <li><a href="#">Calças</a></li>
                  <li><a href="#">Calções</a></li>
                  <li><a href="#">Saias</a></li>
                  <li><a href="#">Tops e t-shirts</a></li>
                  <li><a href="#">Vestidos</a></li>
                  <li><a href="#">Outro</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <div class="my-4 pt-3" ></div>


<!-- Form Editar Perfil -->
<form method="post" action="perfil_edit.php">
	<div class="row col-md-6 border rounded mx-auto mt-4 mb-4 p-2 shadow-lg ">
		
		<div class="col-md-12">
			<div class="h2">Detalhes do Perfil</div>
      <?php
      if ($result->num_rows > 0) {
        $sn=1;
        while($data = $result->fetch_assoc()) {
      ?>
			<table class="table table-striped">

            <tr><th>Nome</th>
                <td>
                    <input value="" type="text" class="form-control" name="nome" placeholder="<?php echo $data['nome']; ?>">
                </td>
            </tr>
            <tr><th>Email</th>
              <td>
                  Não é permitido alterar o email
              </td>
            </tr>
            <tr><th>Senha</th>
                <td>
                    <input type="password" class="form-control" name="passwd" placeholder="Senha (deixar em branco para não alterar)">
                </td>
            </tr>
            <tr><th>Data de Nascimento</th>
                <td>
                    <input value="<?php echo $data['data_nascimento']; ?>" type="date" min="1900-01-01" max="2023-06-24" class="form-control" name="data_nascimento" placeholder="">
                </td>
            </tr>
            <tr><th>Género</th>
              <td>
                  <select name="genero" class="form-select form-select mb-1" >
                    <option selected value="Outro">Outro</option>
                    <option value="M"> M </option>
                    <option value="F"> F </option>
                  </select>
              </td>
            </tr>
            <tr><th>Telefone</th>
                <td>
                    <input value="" type="text" class="form-control" name="telefone" manlength="9" placeholder="<?php echo $data['telefone']; ?>">
                </td>
            </tr>
            <tr><th>Morada</th>
                <td>
                    <input value="" type="text" class="form-control" name="morada" placeholder=" <?php echo $data['morada']; ?>">
                </td>
            </tr>
            <tr><th>Código postal</th>
                <td>
                    <input value="" type="text" class="form-control" name="codigo_postal" pattern="[0-91]{4}-[0-91]{3}" placeholder=" <?php echo $data['codigo_postal']; ?>">
                </td>
            </tr>
            <tr><th>Localidade</th>
                <td>
                    <input value="" type="text" class="form-control" name="localidade" placeholder="<?php echo $data['localidade']; ?>">
                </td>
            </tr>
            <?php
              $sn++;}} else { ?>
                <tr>
                <td colspan="8">No data found</td>
                </tr>
            <?php } ?>
            </table>
       
        <button class="btn btn-sm btn-primary" type="submit">Salvar</button>
        <a href="perfil.php"> <label class="btn btn-sm btn-secondary">Voltar</label> </a>
   
		</div>
	</div>
</form>
   

    <!-- Footer -->
  <footer class="p-5 text-white text-center position-relative" id="footer">
    <div class="container">
    <p><i class="bi bi-envelope">&emsp;</i>cogitavi@gmail.com &emsp;&emsp; <i class="bi bi-telephone">&emsp;</i>(+351) 939 574 381&emsp;&emsp; <i class="bi bi-geo-alt">&emsp;</i> Rua dos Orvalhos 10, Lisboa &emsp;&emsp;</p>

      <a href="" class="link_footer">Política de Privacidade</a>&emsp;&emsp; <a href="" class="link_footer">Termos e Condições</a>
      &emsp;&emsp; <a href="" class="link_footer">Livro de Reclamações </a>
    </div>
  </footer>



  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous">
  </script>
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous">
  </script>

  </body>
</html>