body::before {
    display: block;
    content: '';
    height: 5em;
}

body{
    background-color: rgb(230, 230, 230);
    padding: 3em;

}

.cc {
    max-height: 20em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 1em; 
}

canvas {
    max-width: 100%; 
    height: auto; 
    display: block;
}

@media (min-width: 768px) {
    .ms-md-4 {
        margin-left: 1.5rem; 
    }
}
  


  


/*-------------- PRIMEIRA NAVBAR -----------------*/

  
.navbar-brand {
/* tamanho letra 2HandCloth */
font-size: 2em;
}

.logo-cogitavi {
height: 1.2em;
}



  