:root{

  --bege-color: #efc9af;
  --bege-branco: #f5f5dc;
  --azul-claro: #1f8ac0;
  --azul-escuro: #2320b5;
  --azul-intermedio:  #104c91;
  --homeDL:  #099a76;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* espaço entre nav e conteudo da pagina */

body::before {
  display: block;
  content: '';
  height: 5em;
}

body, html {
  height: 100%;
  margin: 0;
}

/* Coloca o footer no final da página no DL*/
.wrapper { 
  background-color:  #cde3fc;
  display: flex;
  flex-direction: column;
  min-height: calc(80vh - 5em); 
}

/*-------------- PRIMEIRA NAVBAR -----------------*/


.cor-nav-bar-dl{
  background-color: var(--homeDL) !important;
}


.cor-nav-bar-p{
  background-color: var(--azul-intermedio) !important;
}

.navbar-brand {
  /* tamanho letra 2HandCloth */
  font-size: 2em;
}

.logo-cogitavi {
  height: 1.2em;
}

/*------------- FOOTER --------------------*/ 

#footer-dl {
  background-color:var(--homeDL);
  color: var(--bege-branco) !important;
}

#footer-p {
  background-color:var(--azul-intermedio);
  color: var(--bege-branco) !important;
}

/*------------ SHOWCASE -----------------*/

.section-showcase {
  margin-top: -1em;
}

.btn_vender-dl {
  background-color: var(--homeDL);
  color: var(--bege-branco);
}

.btn_vender-p {
  background-color: var(--azul-intermedio);
  color: var(--bege-branco);
}

.quadrado-showcase {
  padding: 3em;
  border-radius: 0.25em;
  margin-top: 1em;
}

.diplay-items{
  height: 30%;
}

#imagemDes {
  margin-top: -6em;
  height: 35em;
  width: 30em;
  margin-left: -1.9em;

}

#section {
  margin-top: 0.9em;
}

#myItems {
  margin: 0em;
}

.separate {
  margin-bottom: 0.25em;
}

.separar {
  margin-bottom: 10em;
}

.link_footer {
  /* color: var(--bege-branco); */
  color: #FFFFFF8C;
}

.link_footer:hover {
  color: white;
}