
/* ----------------------ANIMAÇÂO DO TÌTULO---------------------------*/
.title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: reveal 1s var(--total) forwards;
}

.title span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #2320b5;
  animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
  border-top: 0.19em solid #2320b5
}

@keyframes reveal {
  to {
    color: #fff;
  }
}

@keyframes rollIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(105%);
  }
}


/* ----------------------------------------------------------------------------*/

.carousel-container2 {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.carousel2 img {
  max-width: 100px; /* Defina o tamanho máximo que você deseja para as imagens */
  height: auto;
  margin-right: 200px; /* Adicione margem à direita de cada imagem */
}

.carousel2 {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 8s linear infinite;
  animation-timing-function: linear; /* Mantém a velocidade constante */
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(calc(-100% - 30px)); /* move uma largura de contêiner e uma margem */
  }
}





