.bgColor{
    background-color: #cde3fc;
}

@media (max-width: 767.98px) { 
    .border-sm-start-none { border-left: none !important; } 
}

.price {
    margin-top: auto;
    text-align: center; /* Center the content horizontally */
}
  
.bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
}