.bgColor{
    background-color: #cde3fc;
}

.bgColorP{
    background-color: #cde3fc;
    min-height: calc(100vh - 250px); 
    padding-bottom: 50px; 
}

@media (max-width: 767.98px) { 
    .border-sm-start-none { border-left: none !important; } 
}