.bgColor{
  background-color: #cde3fc;
}

.bgColorMyItems{
  background-color: white;
}

.card {
  position: relative;
  height: 470px; /* Set a fixed height for all cards */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.img-thumbnail {
  display: block; /* Ensures margin auto works */
  width: auto;
  max-width: 100%;
  max-height: 240px;
  object-fit: contain;
  margin: 0 auto; /* Center the image horizontally */
}

.btn-editar {
  align-self: flex-end;
}

.content-wrapper {
  flex-grow: 1;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mt-auto {
  margin-top: auto;
}
