
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* espaço entre nav e conteudo da pagina */
body::before {
  display: block;
  content: '';
  height: 7em;
}

/*-------------- PRIMEIRA NAVBAR -----------------*/

.cor{
  background-color: #efc9af !important;
}

.navbar-brand {
  /* tamanho letra 2HandCloth */
  font-size: 2em;
}

.logo-cogitavi {
  height: 2em;
}


/*------------- FOOTER --------------------*/ 

#footer {
  background-color:#efc9af;
  color: white;
  height: 10em;
}

/*------------ SHOWCASE DUAS IMAGENS -----------------*/

.section-showcase {
  margin-top: -1.6em;
  background-image: url(../../public/img3.jpg);
}

.btn_vender {
  background-color: #2320b5;
  color: white;
}

.quadrado-showcase {
  background-color: #1f8ac0;
  padding: 2%;
  border-radius: 0.5em;
  margin-top: 2.5em;
  margin-bottom: -1.5em;
}

#imagemDes {
  margin-top: -6em;
  height: 35em;
  width: 30em;
  margin-left: -1.9em;

}

#section {
  margin-top: 0.9em;
}

.separate {
  margin-bottom: 0.25em;
}

.separar {
  margin-bottom: 10em;
}

.link_footer {
  color: white;
}

.link_footer:hover {
  color: black;
}

/* --------------------- SEGUNDA NAV -------------------------------------- */

.roupa {
  background: #104c91;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 3.1em;
  line-height: 3.1em;
  margin-top: -0.4em;
}

nav .wrapper {
  position: relative;
  margin: auto;
  margin-left: 0.3em;
  justify-content: space-between;
  display: flex;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 0.9em;
  border-radius: 0.3em;
  transition: all 0.3s ease;
}

.nav-links li:hover .box {
  top: 3.1em;
  opacity: 6;
  visibility: visible;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #1f8ac0;
  color: black;
}








